APP_NAME=FlowPilot
APP_ENV=development
APP_DEBUG=true
API_PREFIX=/api/v1


RABBITMQ_URL=amqps://your-cloudamqp-url

    # Phase 1 test AMQP config
AMQP_EXCHANGE=flowpilot.exchange
AMQP_QUEUE=flowpilot.test.queue
AMQP_ROUTING_KEY=test.message

    # Phase 3 real job AMQP config

AMQP_JOBS_QUEUE=flowpilot.jobs.queue
AMQP_JOB_CREATED_ROUTING_KEY=job.created

DATABASE_URL=postgresql+asyncpg://username:password@host:5432/database