APP_NAME=FlowPilot
APP_ENV=development
APP_DEBUG=true
API_PREFIX=/api/v1


RABBITMQ_URL=amqps://your-cloudamqp-url
AMQP_EXCHANGE=flowpilot.exchange
AMQP_QUEUE=flowpilot.test.queue
AMQP_ROUTING_KEY=test.message

DATABASE_URL=postgresql+asyncpg://username:password@host:5432/database