APP_NAME=FlowPilot
APP_ENV=development
APP_DEBUG=true
API_PREFIX=/api/v1


RABBITMQ_URL=amqps://your-cloudamqp-url

    # Phase 1 test AMQP config
AMQP_EXCHANGE=flowpilot.exchange
AMQP_QUEUE=flowpilot.test.queue
AMQP_ROUTING_KEY=test.message

    # Phase 3 real job AMQP config

AMQP_JOBS_QUEUE=flowpilot.jobs.queue
AMQP_JOB_CREATED_ROUTING_KEY=job.created


AMQP_JOBS_RETRY_EXCHANGE=flowpilot.jobs.retry.exchange

AMQP_JOBS_RETRY_2S_QUEUE=flowpilot.jobs.retry.2s.queue
AMQP_JOBS_RETRY_4S_QUEUE=flowpilot.jobs.retry.4s.queue
AMQP_JOBS_RETRY_8S_QUEUE=flowpilot.jobs.retry.8s.queue

AMQP_JOBS_RETRY_2S_ROUTING_KEY=jobs.retry.2s
AMQP_JOBS_RETRY_4S_ROUTING_KEY=jobs.retry.4s
AMQP_JOBS_RETRY_8S_ROUTING_KEY=jobs.retry.8s

AMQP_JOBS_DLQ_EXCHANGE=flowpilot.jobs.dlq.exchange
AMQP_JOBS_DLQ_QUEUE=flowpilot.jobs.dlq.queue
AMQP_JOBS_DLQ_ROUTING_KEY=jobs.dlq

DATABASE_URL=postgresql+asyncpg://username:password@host:5432/database